.DS_Store
node_modules/
/public/hot/
/public/js/
/public/build/
/public/images/
/public/static/
/public/fonts/
/public/img/
/public/css/
/public/storage/
/public/mix-manifest.json
/vendor/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.env
