//fonts
//---------------------------
$default-font: 'MabryPro-Regular', sans-serif;
//---------------------------

//colors
//---------------------------
$accent: #000000;
$purple: #8200e6;
$link-hover: #2475a6;
//---------------------------

//breakpoints
//---------------------------
$uberWidth: 1920px;
$extremeWidth: 1440px;
$laptopWidth: 1200px;
$wideWidth: 1025px;
$wideWidthMax: max-width 1024px;
$averageWidth: 768px;
$narrowWidth: 360px;
//---------------------------