.vb, .vb-visible {
  & > .vb-dragger {
    //z-index: 5;
    z-index: 8;
    width: 7px;
    right: 0;
    @include breakpoint($wideWidth) {
      width: calc(1em / 1.798);
    }
    & > .vb-dragger-styler {
      backface-visibility: hidden;
      transform: rotate3d(0, 0, 0, 0);
      transition: background-color 100ms ease-out,
      margin 100ms ease-out,
      height 100ms ease-out;
      background-color: rgba(0, 0, 0, .2);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .3);
      margin: 2px 2px 2px 0;
      border-radius: 5px;
      height: calc(100% - 4px);
      display: block;
      @include breakpoint($wideWidth) {
        //transition: height .3s ease;
        margin: 5px calc(1em / 3.5999) 5px 0;
        height: calc(100% - 10px);
        border-radius: calc(1em / 3.6);
      }
    }
    &:hover > .vb-dragger-styler {
      background-color: rgba(0, 0, 0, .4);
      margin: 0;
      height: 100%;
    }
  }
  &.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(0, 0, 0, .6);
    margin: 0;
    height: 100%;
  }
}

.main-custom-scroll-js {
  &.vb, &.vb-visible {
    & > .vb-dragger {
      z-index: 4;
    }
  }
  &-not-main {
    &.vb, &.vb-visible {
      & > .vb-dragger {
        z-index: 0;
      }
    }
  }
}

.works-custom-scroll-js, .agency-custom-scroll-js {
  &.vb, &.vb-visible {
    & > .vb-dragger {
      z-index: 12;
    }
    & > .vb-dragger {
      z-index: 20;
    }
  }
}
