$case-offset-mb: 3.75em;
$case-offset-lg: 3.25em;

.case {
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;

	img {
		display: block;
	}

	ul {
		list-style: disc;

		li {
			margin-left: 1.1em;
		}
	}

	ol {
		li {
			margin-left: 1.1em;
		}
	}

	a {
		color: $purple;
		transition: color .2s ease;

		&:hover {
			@include breakpoint($wideWidth) {
				color: #000;
			}
		}
	}

	a.NavigationLinks, a.SiteLink {
		color: #000;

		&:hover {
			@include breakpoint($wideWidth) {
				color: $purple;
			}
		}
	}

	&-overlay--purple {
		width: 140%;
		height: 100%;
		background-color: $purple;
		position: fixed;
		z-index: 50;
		left: 0;
		top: 0;
		transform: translateX(100vw);
	}

	.case-page {
		.case-content {
			width: 100%;

			.container-100vh {
				height: auto;
				@include breakpoint($wideWidth) {
					height: 100vh;
				}
			}

			.container-case-content {
				background-color: white;
			}

			.case-section-first {
				margin-bottom: .94em;
				@include breakpoint($wideWidth) {
					margin-bottom: 1.03em;
				}

				.header-mini {
					@include breakpoint($wideWidth) {
						padding-top: calc(1em * .8 + 1em * .6 + 1em * 1.7);
					}
				}

				.case-head {
					&-image {
						width: 100vw;
						height: calc(100vw / 1.6);
						border-color: transparent;
						border-image: none;
						border: none !important;
						display: inline-block;
						background-position: center center;
						background-repeat: no-repeat;
						background-size: cover;
						@include breakpoint($wideWidth) {
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							transform: translate3d(0, 0, 0);
						}

						&-overlay {
							width: 100%;
							overflow: hidden;
							border: none;
							@include breakpoint($wideWidth) {
								height: 100%;
								flex-shrink: 2222222;
							}
						}
					}

					&-video {
						height: 100%;
					}

					&-text {
						width: 100%;
						bottom: 0;
						left: .6em;
						position: absolute;
						display: flex;
						flex-wrap: nowrap;
						flex-direction: column;
						justify-content: flex-end;
						align-items: flex-start;
						padding-bottom: .94em;
						@include breakpoint($wideWidthMax) {
							width: calc(100vw - .6em * 2);
						}
						@include breakpoint($wideWidth) {
							left: 0;
						}

						.Campaign {
							margin-top: .25em;
							@include breakpoint($wideWidth) {
								margin-top: .4em;
								padding-bottom: 1.69em;
							}
						}
					}
				}
			}

			.case-section {
				margin-bottom: $case-offset-mb;
				@include breakpoint($wideWidth) {
					margin-bottom: $case-offset-lg;
				}

				&.zero-offset-bottom {
					margin-bottom: 0 !important;
				}

				.case-links {
					width: 100%;

					.NavigationLinks-wr {
						@include breakpoint($wideWidth) {
							float: left;
						}
					}

					.SiteLink-wr {
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						align-items: center;
						justify-content: flex-start;
						@include breakpoint($wideWidthMax) {
							margin-top: .32em;
						}
						@include breakpoint($wideWidth) {
							float: right;
						}

						.site-link-icon {
							width: 1.5em;
							height: auto;
							margin-right: .32em;
							@include breakpoint($wideWidthMax) {
								margin-top: .1em;
							}
							@include breakpoint($wideWidth) {
								margin-right: .28em;
								width: 1em;
							}

							svg {
								display: block;
								width: 100%;
								height: auto;
							}
						}
					}
				}

				&.case-text-container {
					padding: 0 calc(1em * .6);
					@include breakpoint($wideWidth) {
						padding: 0;
					}
				}

				&.case-video-container {
					//height: 0;
					overflow: hidden;
					//padding-bottom: calc(100vw / (16 / 9));
					//@include breakpoint($wideWidth) {
					//padding-bottom: calc(62.5vw / (16 / 9));
					//}
					.case-double-video {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: flex-start;
						width: 100%;

						.case-video-item {
							width: 50%;
						}
					}

					iframe {
						position: absolute;
						top: -2px;
						left: -2px;
						width: calc(100% + 4px) !important;
						height: calc(100% + 4px) !important;
						transform: translate3d(0, 0, 0);
					}

					&.wrapper {
						.case-video {
							.video-overlay {
								overflow: hidden;
								height: 0;
								padding-bottom: calc(100vw / (16 / 9));
								@include breakpoint($wideWidth) {
									padding-bottom: calc(62.5vw / (16 / 9));
								}
							}
						}
					}

					.case-video {
						.video-overlay {
							overflow: hidden;
							height: 0;
							padding-bottom: calc(100vw / (16 / 9));
							@include breakpoint($wideWidth) {
								padding-bottom: calc(100vw / (16 / 9));
							}
						}

						&.case-double-video {
							.video-overlay {
								padding-bottom: calc(50vw / (16 / 9));
								@include breakpoint($wideWidth) {
									padding-bottom: calc(50vw / (16 / 9));
								}

								video {
									position: absolute;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;
									object-fit: cover;
								}
							}
						}

						&-text {
							padding: calc(1em * .4) calc(1em * .8) 0;
							@include breakpoint($wideWidth) {
								padding: calc(1em * .82) calc(1em * .82) 0;
							}
						}
					}
				}

				&.case-big-image-container {
					.case-big-image {
						width: 100%;
						background-repeat: no-repeat;
						background-position: center center;
						background-size: cover;

						&-text {
							padding: calc(1em * .4) calc(1em * .8) 0;
							@include breakpoint($wideWidth) {
								padding: calc(1em * .82) calc(1em * .82) 0;
							}
						}
					}
				}

				&.case-medium-image-container {
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					align-items: center;
					justify-content: center;

					.medium-image-item {
						width: 100%;

						.case-medium-image {
							width: 100%;
							background-repeat: no-repeat;
							background-position: center center;
							background-size: cover;

							&-text {
								padding: calc(1em * .4) calc(1em * .8) 0;
								@include breakpoint($wideWidth) {
									padding: calc(1em * .82) calc(1em * .82) 0;
								}
							}
						}
					}
				}

				&.case-mini-images-container {
					width: 100%;

					.case-mini-images-in {
						width: 100%;
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						align-items: flex-start;
						justify-content: center;
					}

					.mini-image-item {
						width: 50%;

						.case-mini-image {
							width: 100%;
							background-repeat: no-repeat;
							background-position: center center;
							background-size: cover;

							&-text {
								padding: calc(1em * .4) calc(1em * .8) 0;
								@include breakpoint($wideWidth) {
									padding: calc(1em * .82) calc(1em * .82) 0;
								}
							}
						}
					}
				}

				&.case-image-gallery {
					.image-gallery-pagination {
						//left: 50%;
						position: relative !important;
						margin-top: .7em;
						//transform: translate3d(-50%, 0, 0);
						.swiper-pagination-bullet {
							&:active, &:hover, &:focus {
								outline: none;
							}

							background: white;
							width: .6em;
							height: .6em;
							margin: 0 .2em;
							border: 1px solid black;
							border-radius: 0 !important;
							opacity: 1 !important;
							transition: all .6s ease;

							&.swiper-pagination-bullet-active {
								background: black;
							}
						}
					}

					.image-gallery-slider {
						height: calc(100vw / 1.2);
						width: 100%;
						@include breakpoint($wideWidth) {
							height: calc(1em * 19.5);
						}

						.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
							opacity: 0 !important;
							transition: opacity .2s ease;
						}

						.image-gallery-slide {
							width: 100%;
							//height: 100%;
							cursor: pointer;
							transform-origin: 50% 50%;
							@include breakpoint($wideWidth) {
								width: 62.5% !important;
							}

							.img-for-slide {
								width: 100%;
								height: 100%;
								background-size: contain;
								background-position: center center;
								background-repeat: no-repeat;
								@include breakpoint($wideWidth) {
									transform: scale(.8);
									transition: transform .5s ease !important;
								}
							}

							&.swiper-slide-active {
								.img-for-slide {
									@include breakpoint($wideWidth) {
										transform: scale(1);
									}
								}
							}
						}

						.image-gallery-button-prev, .image-gallery-button-next {
							background-image: none;
							display: none;
							margin: 0;
							background-color: transparent;
							width: auto;
							height: auto;
							bottom: 50%;
							transform: translateY(50%);
							top: auto;
							flex-direction: row;
							flex-wrap: nowrap;
							align-items: center;
							justify-content: center;
							//padding: calc(1em * .6) calc(1em * .7);
							padding: 0;
							@include breakpoint($wideWidth) {
								display: flex;
								//padding: calc(1em * .6) calc(1em * 2);
								padding: 0;
								transition: background-color .3s ease;
								&:hover {
									//background-color: $purple;
								}
							}

							.button-arrow-img {
								background-size: contain;
								background-repeat: no-repeat;
								background-position: center center;
								width: 1.125em;
								height: 1.25em;
								transform: translate3d(0, 0, 0);
								@include breakpoint($wideWidth) {
									width: 1.5005em;
									height: 1.667em;
								}
							}
						}

						.image-gallery-button-prev {
							left: 0;
							@include breakpoint($wideWidth) {
								left: 14%;
							}

							.button-arrow-img {
								background-image: url("../../../static/img/arrow-prev.png");
							}
						}

						.image-gallery-button-next {
							right: 0;
							@include breakpoint($wideWidth) {
								right: 14%;
							}

							.button-arrow-img {
								background-image: url("../../../static/img/arrow-next.png");
							}
						}
					}
				}
			}
		}

		.case-selector {
			margin-top: 6.25em;
			@include breakpoint($wideWidth) {
				margin-top: 5.42em;
			}

			.case-selector-container {
				width: 100%;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: flex-end;
				padding: 0 calc(1em * .6);

				&-pc {
					display: none;
					@include breakpoint($wideWidth) {
						display: flex;
					}
				}

				&-mb {
					display: flex;
					@include breakpoint($wideWidth) {
						display: none;
					}
				}

				@include breakpoint($wideWidth) {
					padding: 0;
				}

				.case-selector-item {
					span {
						display: inline;
					}

					.square-icon, .prev-title, .prev-campaign, .next-title, .next-campaign {
						//float: left;
						display: inline-block;
						font-size: 62%;
						line-height: 1.43;
						font-family: 'MabryPro-Regular', sans-serif;
						letter-spacing: normal;
						text-transform: none;
						color: #000;
					}

					.square-icon {
						width: 1.1em;
						height: 1.1em;
					}

					.prev-campaign {
						float: right;

						.square-icon {
							margin: 0 1em;
						}
					}

					.prev-title {
						//vertical-align: top;
						.square-icon {
							margin-right: .62em;
						}
					}

					.next-title {
						float: left;
						//margin-right: .62em;
						.square-icon {
							margin-left: .62em;
						}
					}

					.prev-info, .next-info {
						display: flex;
						visibility: hidden;
						position: absolute;
						left: 0;
						bottom: 0;
						transform: translateY(100%);
						width: 40vw;
						text-align: left;
						flex-direction: row;
						align-items: center;
						flex-wrap: wrap;
					}

					.next-title, .prev-title {
						display: block;
						width: 100%;
						@include breakpoint($wideWidth) {
							//margin-right: .65em;
						}
					}

					.next-info {
						justify-content: flex-start;
					}

					.prev-info {
						right: 0;
						left: auto;
						text-align: right;
						justify-content: flex-end;

						.prev-title {
							@include breakpoint($wideWidth) {
								//margin-right: 0;
							}
						}

						.square-icon {
							@include breakpoint($wideWidth) {
								//margin-left: .65em;
							}
						}
					}

					&.selector-item-next {
						@include breakpoint($wideWidthMax) {
							text-align: right;
						}

						&:hover {
							.next-info {
								visibility: visible;
							}
						}
					}

					&.selector-item-prev {
						text-align: left;

						.selector-arrow {
							//order: 2;
							@include breakpoint($wideWidth) {
								//order: initial;
							}
						}

						&:hover {
							.prev-info {
								visibility: visible;
							}
						}
					}

					&.selector-item-next, &.selector-item-prev {
						display: flex;
						flex-direction: column;
						flex-wrap: nowrap;
						align-items: stretch;
						justify-content: flex-start;
						text-transform: uppercase;
						font-size: 100%;
						line-height: 1;
						letter-spacing: calc(1em / 26.7);
						cursor: pointer;
						@include breakpoint($wideWidth) {
							display: block;
							top: 0;
							line-height: normal;
							letter-spacing: calc(1em / 36);
							transition: all .2s ease;
						}

						&:hover {
							@include breakpoint($wideWidth) {
								color: $purple;
								top: -0.65em;
							}
						}

						.case-next {
							z-index: 10;
							text-align: right;
							transition: all .2s ease;
						}

						.case-prev {
							z-index: 10;
							text-align: left;
							transition: all .2s ease;
						}
					}
				}
			}
		}

		.header-mini-bottom {
			margin-top: 2.19em;
			@include breakpoint($wideWidth) {
				margin-top: 4.72em;
			}
		}

		.header-mini-top {
			@include breakpoint($wideWidth) {
				display: flex;
				margin: 0;
				padding: 0;
				flex-direction: column;
				align-items: center;
				flex-wrap: nowrap;
				justify-content: flex-end;
			}
		}
	}

}
